<body>
  <div class="fixed-container">
    <div class="left-content">
      <h1>Turnos.com</h1>
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp">
    </div>
  </div>
    <div class="contenedor">
        <div class="seccion1">
          <div class="contenedorimg">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            alt="Imagen" class="imagencont">
           </div>
          </div>
          <div class="seccion2">
            <form ><!--formulario-->
              <div class="fila">
                <p>{{titulo}}</p>
              </div>
              <div class="fila">
                <!-- boton -->
                <button type="submit" (click)="btnTurn()">{{boton}}</button><br><br>
              </div>
            </form>
            <!-- Contenido de la segunda sección -->
            
          </div>
    </div>
</body>