<!-- turn.component.html -->
<body>
  <div class="fixed-container">
    <div class="left-content">
      <h1>Turnos.com</h1>
      <img src="assets/images/logo.png">
    </div>
  </div>
  <div class="contenedor">
    <div class="titulo">Turnos</div>
    <div class="contenido">
      <div class="tabla-contenedor">
        <table class="table-spacing">
          <thead>
            <tr>
              <!-- Eliminamos la columna del ID -->
              <th>Turno</th>
              <th>Persona</th>
              <th>Cuenta</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filas de la tabla (dinámicas) -->
            <tr *ngFor="let cliente of clientes" [ngClass]="{ 'resaltado': clienteFila(cliente.id_turno || 0) }">
              <!-- Utilizamos el operador "?" para verificar si las propiedades están definidas -->
              <td>{{ cliente.id_turno }}</td>
              <!-- Accedemos a la propiedad "persona" a través de "cliente.id_cuenta" -->
              <td>{{ cliente.id_cuenta?.nombre || 'N/A' }}</td>
              <td>{{ cliente.id_cuenta?.id_cat_tipo_cuenta?.cuenta || 'N/A' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!--contenedor-->
</body>
