body {
  background-image: linear-gradient(to bottom, #6580E1, #ffffff, #6580E1);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
 /* Opcional: para hacer que el cuerpo ocupe todo el alto de la ventana */
}
.contenedor {
  width: 900px; /* Ajusta el ancho según tus necesidades */
  height: 400px; /* Ajusta el alto según tus necesidades */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex; /* Utilizamos Flexbox para el diseño */
  flex-direction: column; /* Mostramos los elementos en una columna */
}

/*titulo*/
.titulo {
  font-size: 30px;
  font-family: Arial;
  color: #324e9b;
  text-align: center;
  line-height: 1.6;
  margin: 0;
  padding: 10px 0; /* Añadimos un espacio de relleno arriba y abajo del título */
}
.contenido {
  flex: 1; /* Permite que el contenido de abajo ocupe todo el espacio disponible */
  overflow-y: auto; /* Añade un scroll vertical cuando el contenido exceda la altura */
  padding: 10px; /* Espacio alrededor del contenido */
}
/*tabla*/

table {
border-collapse: collapse;
width: 90%; /* Cambiamos el ancho de la tabla al 90% del contenedor */
border: 1px solid #686767; /* Borde de 1 píxel de grosor y color gris */
margin: 20px 0; /* Añadimos un espacio de separación arriba y abajo de la tabla */
}

thead {
background:  #324e9b;
font-weight: bold; /* Texto en negrita en el encabezado */
color: #FFFFFF;
}

thead th,
tbody td {
padding: 12px; /* Aumentamos el espaciado interno de las celdas */
text-align: center; /* Alineación centrada del contenido de las celdas */
border: 1px solid #797878; /* Borde de 1 píxel de grosor y color gris */
}

tbody {
  background-image: linear-gradient(to bottom,  #A9BFEF,#7C8CE6, #94A5EB, #6580E1);

}

/*estilo fila seleccionada*/
.resaltado {
background:#c3cdf7;/* Gris transparente */
border: 2px #7E93EB;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/********** Estilos para el contenedor fijo en la parte superior de la página */
.fixed-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px; /* Ajusta el padding según tus necesidades */
color: #D1D8E1; /* Color del texto */
}

/* Estilos para el contenido en la esquina superior izquierda */
.left-content {
display: flex;
align-items: center;
}

.left-content h1 {
font-size: 24px;
margin-right: 10px; /* Espacio entre el título y la imagen */
}

.left-content img {
width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
height: 50px;
border-radius: 50%; /* Para hacer la imagen redonda, asumiendo que es cuadrada */
}

/* Estilos adicionales para el resto del contenido del contenedor */
.fixed-container p {
font-size: 16px; /* Tamaño de fuente del contenido adicional */
}